[data-theme="light"] {
  --primary-color: DodgerBlue;
  --secondary-color: royalblue;
  --font-color: black;
  --heading-color: black;
  --btnfont-color: white;
  --bg-color: #dae0e6;
  --search-color:#ddd;
  --cardbg-color:white;
  --hr-color: black;
  --tag-color: dodgerblue;
}
[data-theme="dark"] {
  --primary-color: rgb(34, 33, 33);
  --secondary-color: rgb(44, 43, 43);
  --font-color: #FDF1E7;
  --btnfont-color:#FDF1E7;
  --bg-color: black;
  --heading-color: #FDF1E7;
  --search-color: rgb(24, 22, 22);
  --cardbg-color: rgb(44, 43, 43);
  --hr-color:grey;
  --tag-color: dodgerblue;
}
.title {
    font-family: 'Brush Script MT', 'cursive';
    font-size: 75px;
    margin: 5px 30px;
    color: var(--heading-color)
}
.btn {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--btnfont-color);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
  }
.btn:hover {
    background-color: var(--secondary-color);
  }
.dropbtn {
    background-color: var(--primary-color);
    color: var(--btnfont-color);
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: var(--secondary-color);
  }
  
#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid var(--search-color);
  }
  
#myInput:focus {outline: 3px solid var(--search-color);}
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid var(--search-color);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown a:hover {background-color: var(--search-color);}
  
.show {display: block;}

#create-post{
    background-color: var(--primary-color);
    border: none;
    color: var(--btnfont-color);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer; 
    margin-left: 5px;
    border-radius: 5px;
  }
#create-post:hover {
    background-color: royalblue;
  }
.card {
  border-radius: 25px;
  border: grey solid 1px;
  padding: 1rem;
  width: 45rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  box-shadow: 3px 4px var(--primary-color);
  background-color: var(--cardbg-color);
}
hr {
  background: var(--hr-color);
  margin-bottom: auto;
}
#post-collection {
  background-color: var(--bg-color);
}
body {
  margin: auto;
}
.goated-btn {
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 4rem;
  padding: 12px 16px;
  color: var(--btnfont-color);
  font-size: 15px;
  cursor: pointer;
}
.goated-btn:hover{background-color: var(--secondary-color);}
.fire-btn {
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 4rem;
  padding: 12px 16px;
  color: var(--btnfont-color);
  font-size: 15px;
  margin-top: 3px;
  cursor: pointer;
}
.fire-btn:hover{background-color: var(--secondary-color);}
.laughs-btn {
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 4rem;
  padding: 12px 16px;
  color: var(--btnfont-color);
  font-size: 15px;
  margin-top: 3px;
  cursor: pointer;
}
.laughs-btn:hover{background-color: var(--secondary-color);}
.left-side-btns {
  width: 55px;
}
.titles {
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  height: 45px;
  color: var(--heading-color);
}
.message {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: large;
  height: 70px;
  padding-top: 10px;
  color: var(--font-color);

}
.post-tags {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  height: 20px;
  color: var(--tag-color);
}
.dark-mode {
  background-color: black;
}